<div class="container">
  <h1>タイムライン</h1>
  
  <% @posts.each do |post| %>
    <div class="posts-index-item mb-20">
      <% if post.avatar.attached? %>
        <%= image_tag post.avatar %>
      <% else %>
        <img class="index-img" src="<%= "/images/default_user.png" %>" alt="Userimage">
      <% end %>
      <%= link_to(post.content, "/posts/#{post.id}") %>
    </div>
  <% end %>
  
  <%= link_to(posts_new_path) do %>
    <button type="button" class="btn btn-primary rounded-circle p-0" style="width:2rem;height:2rem;">
      ＋
    </button>
  <% end %>
</div>
