<div class="main-content">
  <div class="main posts-new">
    <div class="container">
      <h1 class="form-heading">投稿する</h1>
      <%= render "layouts/formPost" %>
      <%= render "layouts/returnPost" %>
    </div>
  </div>
</div>