// Place all the styles related to the Gear controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.collapse{
}
.gear-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}
.gear-show-item {
  padding: 30px;
  background-color: white;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
}
.card-img {
  width: 400px;
}
.index-img {
  display: inline-block;
  width: 75px;
  height: 75px;
  margin-right: 20px;
}
.category {
  display: block;
  padding: 10px 0;
  text-align: center;
  color: white;
}
.categoryContainer {
  margin-top: 10px;
}
.main-item{
  font-size: 1.3rem;
}
.bottom-item {
  display: inline;
  margin-left: 15px;
}
.life {
  background: #b1c7a1;
}
.cook {
  background: #ebe66c;
}
.fire {
 background: #e08f60;
}
.others {
  background: #c7c8d1;
}