<header>
  <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
    <%= link_to "Camp App", root_path, id: "logo", class: "navbar-brand" %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <%= link_to "ホーム", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Camp Appとは", about_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contents", "#", class: "nav-link" %>
      </li>
    </ul>
  </nav>
</header>

