<div class="link">
  <%= link_to("/posts/#{@post.id}/edit") do %>
    <i class="fas fa-edit"></i>
  <% end %>
  <%= link_to "/posts/#{@post.id}/destroy", {method: "delete"} do %>
    <i class="fas fa-trash-alt"></i>
  <% end %>
</div>
